@page "/Submit"
@using TxB.Data
@using TxB.Services
@using TxB.Shared.Components
@using TxB.Shared.SemanticUI
@inherits BlazorAuthComponentBase
@inject SessionState _sessionState;
@inject WordService _wordService;
<AuthorizeView>
    <NotAuthorized>
        <div Context="Rubbish">
            <h1>Have to redirect somehow...</h1>
        </div>
    </NotAuthorized>
    <Authorized>
        <EditForm Context="registration" Model="NewWord" class="ui form" OnSubmit="@HandleValidSubmit">
            <h4 class="ui dividing header">Submit new word suggestion for FinTech proposition generator database</h4>
            <DataAnnotationsValidator />
            <Segment Header="Submit new word">
                <div class="field">
                    <label>Suggested word</label>
                    <InputText type="text" @bind-Value="NewWord.Text" placeholder="Enter your suggested word"></InputText>
                    <ValidationMessage For="() => NewWord.Text"/>
                </div>
                <Field Label="What type of word is it?">
                    <InputSelect @bind-Value="@NewWord.WordType" class="ui selection dropdown">
                        @foreach (var wt in Enum.GetValues(typeof(WordType)))
                        {
                            <option value="@wt">@wt</option>
                        }
                    </InputSelect>
                </Field>
                <button type="submit" class="ui button primary">Submit suggestion</button>
            </Segment>
        </EditForm>
        
        <Confirmation Show="@ShowConfirmation" Header="Account created">
            Your suggestion has been submitted. An admin will review soon!
        </Confirmation>
        <Warning Show="@ShowError" Header="Submission error">
            An error occured whilst processing your submission. Please contact support.
        </Warning>
    </Authorized>
</AuthorizeView>

@code {

    public Word NewWord { get; set; }

    public bool ShowConfirmation { get; set; } = false;

    public bool ShowError { get; set; } = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ResetWord();
        // if (_sessionState.CurrentUser != null) NewWord.SubmittedBy = _sessionState.CurrentUser;
    }

    private void HandleValidSubmit()
    {
        var topic = _wordService.FindTopic("TxB");
        NewWord.Topic = topic;
        NewWord.SubmittedBy = _sessionState.CurrentUser;

        var c = _wordService.SaveWord(NewWord);
        if (c > 0)
        {
            ShowConfirmation = true;
        }
        else
        {
            ShowError = true;
        }
        ResetWord();
    }

    private void ResetWord()
    {
        NewWord = new Word();
        NewWord.Status = WordStatus.Draft;
        NewWord.WordType = WordType.Adjective;
    }
}